<ion-view view-title="Help">
  <ion-nav-bar class="bar-positive" align-title="left">
  </ion-nav-bar>
  <ion-content>
    <p>当アプリは、2015年10月15日にクラウドファンディングサイト「Ready for」さんにて、実行したプロジェクト「<a href="https://readyfor.jp/projects/drnear">【難病医療はたった１つのことで変わる】その第一歩を届けたい</a>」よりスタートしました。</p>

    <p>沢山のご支援者の方に支えられ、未熟ではありますが走り始めています。
      まだまだ資金やスタッフ等、不足していることばかりですが、
      難病医療発展のために諦めず精進していきますので、今後ともどもよろしくお願い致します。</p>
    <div class="card">
      <div class="item item-divider">Spcial Thanks</div>
      <div class="item item-text-wrap">いなけんさん,Hikoさん,河田 茂さん,Yoichi Sasakiさん,Akiko Shigiharaさん,てんしんさん,masaeさん,つのみおさん,れんげさん,Ｔ－宮本さん,ますきちさん,Hidekazu Hiratsukaさん,よっつさん,Toshiko Sawaguchiさん,anmitsuchanさん,Ayumi Ooutiさん,ゆうさん,安藤静華さん,島貫 杏奈さん,nagomuさん,おちゅくんさん,kaoriさん,chieさん,有希子さん,貫井 れい子さん,Satomi Ishiiさん,坂本 賢太郎さん,坂東未来さん,YAMさん,Hiroyuki Takahataさん,Fujiko Yodogawaさん,彩花さん,ここさん,田中 良男さん,キシリトールさん,堀江 和加奈さん,Mnt. Zmm.さん,YOSSYさん,KANETA Hidekiさん,辻本 健志さん,yasuさん,長 由季子さん,りょうさん,宮本 修平さん,カズさん,石井 寿浩さん,あいりさん,ひでやさん,香西 麻里さん,nowarさん,井川 尚之さん,中尾勇人さん,あさみさん,野中　奨高さん,みさとさん,藤巻 慎さん,ゆうすけさん,sayaka tajimaさん,奈穂美さん,akoさん,sasatoshiさん,Ikki Shimizuさん,Yoshifumi Hirutaさん,須川　昌子さん,林田 大河さん,力丸 健太郎さん,岡村 美佳さん,Takeshi Nishiさん,どりちゃんのママさん,KANETA Hidekiさん,三原 栄一さん,のぶりんさん,Kenichiro Fuchiさん</div>
    </div>
  </ion-content>
</ion-view>
