<ion-popover-view>
  <ion-content>
    <div class="item item-list">
      <p>X  people like this.</p>
      <p align="right">View more comments</p>
    </div>
    <form class="form form-horizontal clearfix" ng-submit="save()">
      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <label class="item-input">
        <input type="text" class="form-contrl" placeholder="Write a comment..." ng-model="content">
        <button type="submit" class="button button-small button-positive">
          Submit
        </button>
        </label>
      </div>
    </form>
    <div class="item item-avatar">
      <img src="mcfly.jpg">
      <h2>Marty McFly</h2>
      <p>Thanks for coming! I think i left my brain next to the strong chuhi in ueno park, so complete success! Best photo i got</p>
    </div>
    <div class="item item-avatar">
      <img src="mcfly.jpg">
      <h2>Marty McFly</h2>
      <p>Thanks for coming! I think i left my brain next to the strong chuhi in ueno park, so complete success! Best photo i got</p>
    </div>
    <div class="item item-avatar">
      <img src="mcfly.jpg">
      <h2>Marty McFly</h2>
      <p>Thanks for coming! I think i left my brain next to the strong chuhi in ueno park, so complete success! Best photo i got</p>
    </div>
  </ion-content>
<ion-popover-view>

