<ion-view title="Messages">
<ion-content ng-class="{expanded:$scope.isExpanded}">
<span>Login : {{ loginUser.get('name') }}</span>
<div class="messageslist">
	<div class="list">
		<a ng-repeat="msg in messages"
		ui-sref="detail( msg )"
		class="item item-thumbnail-left">
		<img ng-src="{{ item.image }}">
		<h2> {{ msg.type == 'sent' ? msg.object.get('to').get('name') : msg.object.get('from').get('name') }}</h2>
		<h4>{{ msg.object.get('content') }}</h4>
	</a>
</div>
</ion-list>
</div>
</div>
</ion-content>
</ion-view>