
<ion-popover-view>
  <ion-content>
    <div class="item item-list">
      <p>X  people like this.
      <p align="right">View more comments</p>
    </div>
    <div class="item item-avatar">
        <img src="mcfly.jpg">
        <input type="text" placeholder="Write a comment...">
    </div>
    <div class="item item-avatar">
      <img src="mcfly.jpg">
      <h2>Marty McFly</h2>
      <p>Thanks for coming! I think i left my brain next to the strong chuhi in ueno park, so complete success! Best photo i got</p>
    </div>
    <div class="item item-avatar">
      <img src="mcfly.jpg">
      <h2>Marty McFly</h2>
      <p>Thanks for coming! I think i left my brain next to the strong chuhi in ueno park, so complete success! Best photo i got</p>
    </div>
    <div class="item item-avatar">
      <img src="mcfly.jpg">
      <h2>Marty McFly</h2>
      <p>Thanks for coming! I think i left my brain next to the strong chuhi in ueno park, so complete success! Best photo i got</p>
    </div>
  </ion-content>
<ion-popover-view>

