<ion-view title="Post">
  <ion-nav-bar class="bar-positive" align-title="left">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-ios-arrow-back" ui-sref="app.activity"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="true">
    <form ng-submit="ctrl.post(entry)">
      <div class="margin">
        <div class="list">
          <label class="item item-input item-floating-label">
            <input type="text" ng-model="entry.title" placeholder="Your post title" />
          </label>
          <label class="item item-input">
            <textarea rows="5" ng-model="entry.content" placeholder="It's ok to write anything that your side effect and progress status and so on." ></textarea>
          </label>
        </div>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Send</button>
      </div>
    </form>
  </ion-content>
</ion-view>
