<ion-view view-title="Profile">
  <ion-nav-bar class="bar-positive" align-title="left">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-edit" ui-sref="app.profedit"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div>  
      <div class="content">
        <img id="icon-image" ng-src="{{appctrl.session.user.iconurl}}" />
        <h3><a class="center">{{ appctrl.session.user.name }}</a></h3>
        <div id="bio">
          <h4>dragon_mommy - Grivec</h4>
          <h5>{{ appctrl.session.user.bio }}</h5>
        </div>
      </div>
    </div>

    <div class="button-bar">
      <a class="button"
        ng-class="{'button-positive':ctrl.view === 'activity'}"
        ng-click="ctrl.view = 'activity'">Activity</a>
      <a class="button"
        ng-class="{'button-positive':ctrl.view === 'diseases'}"
        ng-click="ctrl.view = 'diseases'">Diseases</a>
      <a class="button"
        ng-class="{'button-positive':ctrl.view === 'followings'}"
        ng-click="ctrl.view = 'followings'">Followings</a>
      <a class="button"
        ng-class="{'button-positive':ctrl.view === 'followers'}"
        ng-click="ctrl.view = 'followers'">Followers</a>
    </div>

    <div class="list card"
        ng-repeat="item in ctrl.activities"
        ng-if="ctrl.view === 'activity'">
      <div class="item item-avatar">
        <img ng-src="{{ item.get('user').get('icon').url() }}">
        <h2>{{ item.get('user').get('name') }} </h2>
        <p>{{ item.createdAt }}</p>
      </div>

      <div class="item item-body">
        <p>
          <strong>{{ item.get('title') }}</strong>
          {{ item.get('content') }}
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
    </div>

    <div class="list" ng-if="ctrl.view === 'diseases'">
      <div class="item item-button-right" ng-repeat="item in appctrl.session.user.diseases">
        {{ item.get('to').get('name') }}
        <button class="button"
          ng-class="{'button-positive': !appctrl.isFollowing(item.get('to')) }"
          ng-click="appctrl.toggleFollowing(item.get('to'))">
          {{ appctrl.session.user.isFollowing( item.get('to') ) ? 'Unfollow' : 'Follow' }}
        </button>
      </div>
    </div>

    <div class="list" ng-if="ctrl.view === 'followings'">
      <div class="item item-avatar item-button-right" ng-repeat="item in appctrl.session.user.followings" >
        <img ng-src="{{ item.get('to').get('icon').url() }}" />
        <h2>{{ item.get('to').get('name') }}</h2
        <p>{{ item.get('to').get('bio') }}</p>
        <button class="button"
          ng-class="{'button-positive': !appctrl.isFollowing(item.get('to')) }"
          ng-click="appctrl.toggleFollowing(item.get('to'))">
          {{ appctrl.session.user.isFollowing( item.get('to') ) ? 'Unfollow' : 'Follow' }}
        </button>
      </div>
    </div>

    <div class="list" ng-if="ctrl.view === 'followers'">
      <div class="item item-avatar item-button-right" ng-repeat="item in appctrl.session.user.followers" >
        <img ng-src="{{ item.get('from').get('icon').url() || 'img/material1.jpg' }}" />
        <h2>{{ item.get('from').get('name') }}</h2
        <p>{{ item.get('from').get('bio') }}</p>
        <button class="button"
          ng-class="{'button-positive': !appctrl.isFollowing(item.get('from')) }"
          ng-click="appctrl.toggleFollowing(item.get('from'))">
          {{ appctrl.session.user.isFollowing( item.get('from') ) ? 'Unfollow' : 'Follow' }}
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
