<ion-view view-title="Profile">
  <ion-nav-bar class="bar-positive" align-title="left">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-edit" ui-sref="app.profedit"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div>  
      <div class="content">
        <img id="icon-image" ng-src="{{ctrl.user.iconurl}}">
        <a class="center" ng-repeat= "item in ctrl.user.diseases">
          <div id="bio">
            <h4>{{ ctrl.user.username }}</h5>
            <h4>{{ item.get('to').get('name')}}</h4>
            <h5>{{ ctrl.user.bio }}</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="button-bar">
      <a class="button"
        ng-class="{'button-positive':ctrl.view === 'activity'}"
        ng-click="ctrl.view = 'activity'">Activity</a>
      <a class="button"
        ng-class="{'button-positive':ctrl.view === 'Fights'}"
        ng-click="ctrl.view = 'fight'">Fights</a>
      <a class="button"
        ng-class="{'button-positive':ctrl.view === 'Comments'}"
        ng-click="ctrl.view = 'comments'">Comments</a>
      <a class="button"
        ng-class="{'button-positive':ctrl.view === 'followings'}"
        ng-click="ctrl.view = 'followings'">Followings</a>
    </div>

    <div class="list card"
        ng-repeat="item in ctrl.activities"
        ng-if="ctrl.view === 'activity'">
      <div class="item item-avatar">
        <img ng-src="{{ item.get('user').get('icon').url() }}">
        <h2>{{ item.get('user').get('name') }} </h2>
        <p>{{ item.createdAt }}</p>
      </div>

      <div class="item item-body">
        <p>
          <strong>{{ item.get('title') }}</strong>
          {{ item.get('content') }}
        </p>
        <p>
          <a href="#" class="subdued">1 Fights</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="!ctrl.toggleFight(item)">
          <div ng-show="!ctrl.isFight(item)">
            <i class="icon ion-thumbsup"></i>
            Fight
          </div>
          <div ng-show="ctrl.isFight(item)">
            <i class="icon ion-thumbsup"></i>
            Cancel
          </div>
        </a>
        <a class="tab-item" ng-click="ctrl.toggleComment(item)">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
      </div>
      <form class="form form-horizontal clearfix" ng-show="item.showReply" ng-click="ctrl.reply(item)">
        <div class="item item-avatar">
          <img src="mcfly.jpg">
          <label class="item-input">
          <input class="form-control" type="text" ng-model="item.commentContent" placeholder="Write a comment..." />
          <button type="submit" class="button button-small button-positive">
            Submit
          </button>
          </label>
        </div>
        <div ng-repeat="comment in item.comments">
          <div class="item item-avatar">
            <img src="mcfly.jpg">
            <strong>{{ comment.createdAt }}</strong>
            <span>{{ comment.get('content') }}</span>
          </div>
        </div>
      </form>    
    </div>

    <div class="list" ng-if="ctrl.view === 'fight'">
      <div class="item item-button-right" ng-repeat="item in ctrl.user.fightActivities">
        <div class="item item-avatar" ng-click = "ctrl.toProfile(item)">
          <a img ng-src="{{ item.get('user').get('icon').url() }}" />
          <h2>{{ ctrl.user.fightActivities.get('name') }}</h2>
          <h2>{{ item.get('to').get('user').get('username') }}</h2>
          </a>
        </div>
        <div class="item item-body">
          <p><strong>{{ item.get('to').get('title') }}</strong> 
            {{ item.get('to').get('content') }}</p>
          <p>
            <a href="#" class="subdued">1 Fight</a>
            <a href="#" class="subdued">5 Comments</a>
          </p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" ng-click="!ctrl.toggleFight(item)">
            <div ng-show="!ctrl.isFight(item)">
              <i class="icon ion-thumbsup"></i>
              Fight
            </div>
            <div ng-show="ctrl.isFight(item)">
              <i class="icon ion-thumbsup"></i>
              Cancel
            </div>
          </a>
          <a class="tab-item" ng-click="ctrl.toggleComment(item)">
            <i class="icon ion-chatbox"></i>
            Comment
          </a>
        </div>
        <form class="form form-horizontal clearfix" ng-show="item.showReply">
          <div class="item item-avatar">
            <img src="mcfly.jpg">
            <label class="item-input">
            <input class="form-control" type="text" ng-model="item.commentContent" placeholder="Write a comment..." />
            <button type="submit" class="button button-small button-positive" ng-click="ctrl.reply(item)">
              Submit
            </button>
            </label>
          </div>
          <div ng-repeat="comment in item.comments">
            <div class="item item-avatar">
              <img src="mcfly.jpg">
              <strong>{{ comment.createdAt }}</strong>
              <span>{{ comment.get('content') }}</span>
            </div>
          </div>
        </form> 
      </div>
    </div>

    <div class="list" ng-if="ctrl.view === 'comments'">
      <div class="item item-avatar item-button-right" ng-repeat="item in appctrl.session.user.followers" >
        <img ng-src="{{ item.get('from').get('icon').url() || 'img/material1.jpg' }}" />
        <h2>{{ item.get('from').get('name') }}</h2
        <p>{{ item.get('from').get('bio') }}</p>
        <button class="button"
          ng-class="{'button-positive': !appctrl.isFollowing(item.get('from')) }"
          ng-click="appctrl.toggleFollowing(item.get('from'))">
          {{ appctrl.session.user.isFollowing( item.get('from') ) ? 'Unfollow' : 'Follow' }}
        </button>
      </div>
    </div>

    <div class="list" ng-if="ctrl.view === 'followings'">
      <div class="item item-avatar item-button-right" ng-repeat="item in appctrl.session.user.followings" >
        <img ng-src="{{ item.get('to').get('icon').url() }}" />
        <h2>{{ item.get('to').get('name') }}</h2
        <p>{{ item.get('to').get('bio') }}</p>
        <button class="button"
          ng-class="{'button-positive': !appctrl.isFollowing(item.get('to')) }"
          ng-click="appctrl.toggleFollowing(item.get('to'))">
          {{ appctrl.session.user.isFollowing( item.get('to') ) ? 'Unfollow' : 'Follow' }}
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
