<ion-view>
  <ion-nav-bar class="bar-positive" align-title="left">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-nav-title>
      <div class="bar item-input-inset"
           style="margin:0px; padding: 0px;">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search"
                 ng-model="ctrl.searchWord"
                 ng-keyup="ctrl.search()"
                 >
        </label>
      </div>
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content class="animate-fade-slide-in">
    <div class="list">
      <div class="item item-divider" ng-if="ctrl.users.length">Users</div>
      <div class="item item-avatar item-button-right" ng-repeat="user in ctrl.users">
        <img ng-src="{{ user.get('icon').url() }}">
        <h2>{{ user.get("name") }}</h2>
        <p>{{ user.get("username") }}</p>
        <button class="button"
          ng-class="{ 'button-positive': !appctrl.isFollowing(user) }"
          ng-click="appctrl.toggleFollowing(user)">
          {{ appctrl.isFollowing(user) ? 'Unfollow' : 'Follow' }}
        </button>
      </div>
      <div class="item item-divider" ng-if="ctrl.diseases.length">Diseases</div>
      <div class="item item-button-right" ng-repeat="disease in ctrl.diseases">
        <h2>{{ disease.get("name") }}</h2>
        <button class="button"
          ng-class="{ 'button-positive': !appctrl.isFollowing(disease) }"
          ng-click="appctrl.toggleFollowing(disease)">
          {{ appctrl.isFollowing(disease) ? 'Unfollow' : 'Follow' }}
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
