<ion-view>
  <ion-nav-bar class="bar-positive" align-title="left">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-nav-title>
      <div class="bar item-input-inset"
           style="margin:0px; padding: 0px;">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search"
                 ng-model="ctrl.searchWord"
                 ng-keyup="ctrl.search()"
                 >
        </label>
      </div>
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content class="animate-fade-slide-in">
    <div class="list">
      <a class="item item-avatar" ng-repeat="user in ctrl.users">
        <img ng-src="{{ user.get('icon').url() }}">
        <h2>{{ user.get("name") }}</h2>
        <p>{{ user.get("username") }}</p>
      </a>
    </div>
    <div class="list">
      <a class="item" ng-repeat="disease in ctrl.diseases">
        <h2>{{ disease.get("name") }}</h2>
      </a>
    </div>
  </ion-content>
</ion-view>
