<ion-view title="Post">
  <ion-nav-bar class="bar-positive" align-title="left">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-ios-arrow-back" ui-sref="app.activity"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="bar bar-header">
      <div class="tabs">
        <a class="tab-item" ng-class="{'button-positive': ctrl.view === 'Feedback'}" ng-click="ctrl.view = 'feedback'">Feedback</a>
        <a class="tab-item" ng-class="{'button-positive': ctrl.view === 'Treatments'}" ng-click="ctrl.view = 'treatments'">Treatments</a>
        <a class="tab-item" ng-class="{'button-positive': ctrl.view === 'Sideeffects'}" ng-click="ctrl.view = 'sideeffects'">Side effects</a>
        <a class="tab-item" ng-class="{'button-positive': ctrl.view === 'Others'}" ng-click="ctrl.view = 'others'">Others</a>
      </div>
    </div>
    <form ng-submit="ctrl.post(entry)">
      <div class="padding"></div><div class="padding"></div>
      <div class="list">
        <div ng-if="ctrl.view === 'feedback'">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Title</span>
            <input type="text" ng-model="ctrl.entry.title" placeholder="Your post title" />
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Content</span>
          <textarea type="text" ng-model="ctrl.entry.content" placeholder="It's ok to write anything that your side effect and progress status and so on." ></textarea>
        </div>
        <div ng-if="ctrl.view === 'treatments'">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Title</span>
            <input type="text" ng-model="ctrl.entry.title" placeholder="Your post title" />
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Content</span>
          <textarea type="text" ng-model="ctrl.entry.content" placeholder="It's ok to write anything that your side effect and progress status and so on." ></textarea>
        </div>
        <div ng-if="ctrl.view === 'sideeffects'">        
          <label class="item item-input item-stacked-label">
            <span class="input-label">Title</span>
            <input type="text" ng-model="ctrl.entry.title" placeholder="Your post title" />
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Content</span>
          <textarea type="text" ng-model="ctrl.entry.content" placeholder="This medicine has no side-effects." ></textarea>
        </div>
        <div ng-if="ctrl.view === 'others'">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Title</span>
            <input type="text" ng-model="ctrl.entry.title" placeholder="Your post title" />
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Content</span>
          <textarea type="text" ng-model="ctrl.entry.content" placeholder="It's ok." ></textarea>
        </div>
      </div>
      
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Send</button>
      </div>
    </form>
  </ion-content>
</ion-view>
