<ion-view title="パスワードを再設定">
  <ion-nav-bar class="bar-positive" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
  </ion-nav-bar>
  <ion-content padding="true" scroll="false" class="has-header">
  <div class="alert alert-danger" ng-if="error != ''">{{ error }}</div>
  <form ng-submit="reset(credentials)" name="resetForm" novalidate>
    <div class="card">
      <div class="item item-divider">
      パスワードのリセット
      </div>
        <label class="item">
          <span class="input-label">アカウント登録の際に利用した<br>Eメールアドレスを入力して下さい。<br>パスワード再設定用のリンクが届きます。</span>
        </label>
        <label class="iitem item-input item-stacked-label">
          <span class="input-label">Eメール</span>
          <input type="text" placeholder="xxxxxxxx@xxx.xxx" ng-model="ctrl.credentials.mail" ng-required="true">
        </label>
    </div>
    <button class="button button-block button-positive" type="submit" ng-click="ctrl.reset()" 
      ng-disabled="resetForm.$invalid">リセット用リンクを送信</button>
  </form>
  </ion-content>
</ion-view>
