<!doctype html>
<!-- Our uiRouterSample module defined here -->
<html lang="en" ng-app="uiRouterSample">
  <head>
    <meta charset="utf-8">
    <title>User Registration</title>
    <!-- using twitter bootstrap, but of course -->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <!-- styles for ng-animate are located here -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <script src="https://www.parsecdn.com/js/parse-1.3.3.min.js"></script>
    <!-- Include angular.js, angular-animate.js and angular-ui-router.js-->
    <script src="../lib/angular-1.2.14/angular.js"></script>
    <script src="../lib/angular-1.2.14/angular-animate.js"></script>
    <script src="../release/angular-ui-router.js"></script>

    <!-- app.js declares the uiRouterSample module and adds items to $rootScope, and defines
         the "home" and "about" states
    -->
    <script src="app/app.js"></script>

    <!-- contacts.js declares the uiRouterSample.contacts module, and adds a number of contact
         related states 
    -->
    <script src="app/contacts/contacts.js"></script>

    <!-- contacts-service.js, and utils-service.js define services for use by the 
         uiRouterSample.contacts module.
    -->
    <script src="app/contacts/contacts-service.js"></script>
    <script src="common/utils/utils-service.js"></script>

    <!-- could easily use a custom property of the state here instead of 'name' -->
    <title ng-bind="$state.current.name + ' - ui-router'">ui-router</title>
  </head>
  <body ng-controller="ApplicationCtrl">
    <div class="container" ng-controller="MainController">
     <header>
        <h1 class="page-header">User Registration</h1>
      </header>
      <div ng-view></div>
    </div>
    <script type="text/ng-template" id="templates/main.html">
    <div ng-if="currentUser">Welcome, {{ currentUser.name }}</div>
    <div ng-if="isAuthorized(userRoles.admin)">You're admin.</div>
    <div ng-switch on="currentUser.role">
      <div ng-switch-when="userRoles.admin">You're admin.</div>
      <div ng-switch-when="userRoles.editor">You're editor.</div>
      <div ng-switch-default>You're something else.</div>
    </div>
      <div ng-if="user">
        <h2>Login User</h2>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th class="col-md-3">username</th>
              <td>{{ user.get('username') }}</td>
            </tr>
            <tr>
              <th>email</th>
              <td>{{ user.get('email') }}</td>
            </tr>
            <tr>
              <th>emailVerified</th>
              <td>{{ user.get('emailVerified') ? 'true' : 'false' }}</td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-default" ng-click="logout()">Logout</button>
      </div>
      <div ng-if="!user">
        <button class="btn btn-default" ng-click="signup()">SignUp</button>
        <button class="btn btn-default" ng-click="login()">LogIn</button>
      </div>
    </script>

    <script type="text/ng-template" id="templates/signup.html">
      <div class="alert alert-danger" ng-if="error != ''">{{ error }}</div>
      <form class="form form-horizontal" ng-submit="signup()">
        <div class="form-group">
          <label class="control-label col-md-3">username</label>
          <div class="col-md-9">
            <input class="form-control" type="text" ng-model="username" />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">password</label>
          <div class="col-md-9">
            <input class="form-control" type="password" ng-model="password" />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">email</label>
          <div class="col-md-9">
            <input class="form-control" type="text" ng-model="email" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <input class="btn btn-primary" type="submit" value="SignUp"/>
            <a ng-click="back()">back</a>
          </div>
        </div>
      </form>
    </script>

    <script type="text/ng-template" id="templates/login.html">
      <div class="alert alert-danger" ng-if="error != ''">{{ error }}</div>
      <form class="form form-horizontal" ng-submit="login(credentials)">
        <div class="form-group">
          <label class="control-label col-md-3">username</label>
          <div class="col-md-9">
            <input class="form-control" type="text" ng-model="credentials.username" />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">password</label>
          <div class="col-md-9">
            <input class="form-control" type="password" ng-model="credentials.password" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <input class="btn btn-primary" type="submit" value="LogIn"/>
            <a ng-click="back()">back</a>
          </div>
        </div>
      </form>
    </script>

    <script>
angular
    .module( 'App', ['ui.router'] )
    .run( function() {
        // Initialize Parse SDK
        Parse.initialize("Mz7REEN7OsU6EMZS3ep4LZGj3xEp7ggnrBYwJ6Fa", "kac4fP2P8YT04yIdu48JgHFUXHbNEOaPsqU1B1Ja");
    })
    .run(function ($rootScope, AUTH_EVENTS, AuthService) {
      $rootScope.$on('$stateChangeStart', function (event, next) {
        var authorizedRoles = next.data.authorizedRoles;
        if (!AuthService.isAuthorized(authorizedRoles)) {
          event.preventDefault();
          if (AuthService.isAuthenticated()) {
            // user is not allowed
            $rootScope.$broadcast(AUTH_EVENTS.notAuthorized);
          } else {
            // user is not logged in
            $rootScope.$broadcast(AUTH_EVENTS.notAuthenticated);
          }
        }
      });
    })
    .directive('loginDialog', function (AUTH_EVENTS) {
      return {
        restrict: 'A',
        template: '<div ng-if="visible"
                        ng-include="\'login-form.html\'">',
        link: function (scope) {
          var showDialog = function () {
            scope.visible = true;
          };
      
          scope.visible = false;
          scope.$on(AUTH_EVENTS.notAuthenticated, showDialog);
          scope.$on(AUTH_EVENTS.sessionTimeout, showDialog)
        }
      };
    })
    .config( function( $stateProvider, USER_ROLES ){
        $stateProvider
            .state( 'main', {
                url: '/main',
                templateUrl : 'templates/main.html',
                controller  : 'MainController'
                data: {
                  authorizedRoles: [USER_ROLES.admin, USER_ROLES.editor]
                }
            })
            .state( 'signup', {
                url: '/signup',
                templateUrl : 'templates/signup.html',
                controller  : 'SignupController'
            })
            .state( 'login', {
                url: '/login'
                templateUrl : 'templates/login.html',
                controller  : 'LoginController'
            })
            .state('protected-route', {
                url: '/protected',
                resolve: {
                  auth: function resolveAuthentication(AuthResolver) { 
                    return AuthResolver.resolve();
                  }
                }
            })
            .otherwise({
                redirectTo: '/'
            });
    })
    .factory('AuthResolver', function ($q, $rootScope, $state) {
      return {
        resolve: function () {
          var deferred = $q.defer();
          var unwatch = $rootScope.$watch('currentUser', function (currentUser) {
            if (angular.isDefined(currentUser)) {
              if (currentUser) {
                deferred.resolve(currentUser);
              } else {
                deferred.reject();
                $state.go('user-login');
              }
              unwatch();
            }
          });
          return deferred.promise;
        }
      };
    }
    .config(function ($httpProvider) {
      $httpProvider.interceptors.push([
        '$injector',
        function ($injector) {
          return $injector.get('AuthInterceptor');
        }
      ]);
    })
    .factory('AuthInterceptor', function ($rootScope, $q,
                                          AUTH_EVENTS) {
      return {
        responseError: function (response) { 
          $rootScope.$broadcast({
            401: AUTH_EVENTS.notAuthenticated,
            403: AUTH_EVENTS.notAuthorized,
            419: AUTH_EVENTS.sessionTimeout,
            440: AUTH_EVENTS.sessionTimeout
          }[response.status], response);
          return $q.reject(response);
        }
      };
    })
    .directive('loginDialog', function (AUTH_EVENTS) {
      return {
        restrict: 'A',
        template: '<div ng-if="visible"
                        ng-include="\'login-form.html\'">',
        link: function (scope) {
          var showDialog = function () {
            scope.visible = true;
          };
      
          scope.visible = false;
          scope.$on(AUTH_EVENTS.notAuthenticated, showDialog);
          scope.$on(AUTH_EVENTS.sessionTimeout, showDialog)
        }
      };
    })
    .controller( 'MainController', function( $scope, $location ) {
        $scope.user = Parse.User.current();

        $scope.signup = function() {
            $location.path( '/signup' );
        };
        $scope.login = function() {
            $location.path( '/login' );
        };
        $scope.logout = function() {
            Parse.User.logOut();
            $scope.user = Parse.User.current();
        };
    })
    .controller( 'SignupController', function( $scope, $location ) {
        Parse.User.logOut();

        $scope.username = '';
        $scope.password = '';
        $scope.email    = '';
        $scope.error    = '';

        $scope.signup = function() {
            var user = new Parse.User();
            user.set( 'username', $scope.username );
            user.set( 'password', $scope.password );
            if ( $scope.email ) {
                user.set( 'email', $scope.email );
            };
            user.signUp( null, {
                success: function( user ) {
                    $scope.$apply( function(){
                        $scope.username = '';
                        $scope.password = '';
                        $scope.email    = '';
                        $scope.error    = '';

                        $location.path( '/' );
                    });
                },
                error  : function( user, error ) {
                    $scope.$apply( function(){
                        $scope.error = error.message;
                    });
                }
            });
        };

        $scope.back = function () {
            $location.path('/');
        };
    })
    .controller( 'LoginController', function( $scope, $location ) {
        Parse.User.logOut();

        $scope.credentials = {
          username : '',
          password : '',
          error : '',
        };

        $scope.login = function(credentials) {
            Parse.User.logIn(credentials).then(function (user){
                $rootScope.$broadcast(AUTH_EVENTS.loginSuccess);
                $scope.setCurrentUser(user);
              }, function () {
                $rootScope.$broadcast(AUTH_EVENTS.loginFailed);
              });
            };
        $scope.back = function () {
            $location.path('/');
        };
    })
    .controller('ApplicationCtrl', function ($scope,
                                                   USER_ROLES,
                                                   AuthService) {
      $scope.currentUser = null;
      $scope.userRoles = USER_ROLES;
      $scope.isAuthorized = AuthService.isAuthorized;
     
      $scope.setCurrentUser = function (user) {
        $scope.currentUser = user;
      };
    })
    .constant('AUTH_EVENTS', {
      loginSuccess: 'auth-login-success',
      loginFailed: 'auth-login-failed',
      logoutSuccess: 'auth-logout-success',
      sessionTimeout: 'auth-session-timeout',
      notAuthenticated: 'auth-not-authenticated',
      notAuthorized: 'auth-not-authorized'
    })
    .constant('USER_ROLES', {
      all: '*',
      admin: 'admin',
      editor: 'editor',
      guest: 'guest'
    })
    .factory('AuthService', function ($http, Session) {
      var authService = {};
      authService.login = function (credentials) {
        return $http
          .post('/login', credentials)
          .then(function (res) {
            Session.create(res.data.id, res.data.user.id,
                           res.data.user.role);
            return res.data.user;
          });
      };    
      authService.isAuthenticated = function () {
        return !!Session.userId;
      };
      authService.isAuthorized = function (authorizedRoles) {
        if (!angular.isArray(authorizedRoles)) {
          authorizedRoles = [authorizedRoles];
        }
        return (authService.isAuthenticated() &&
          authorizedRoles.indexOf(Session.userRole) !== -1);
      };    
      return authService;
    })
    .service('Session', function () {
      this.create = function (sessionId, userId, userRole) {
        this.id = sessionId;
        this.userId = userId;
        this.userRole = userRole;
      };
      this.destroy = function () {
        this.id = null;
        this.userId = null;
        this.userRole = null;
      };
    })
    .directive('formAutofillFix', function ($timeout) {
      return function (scope, element, attrs) {
        element.prop('method', 'post');
        if (attrs.ngSubmit) {
          $timeout(function () {
            element
              .unbind('submit')
              .bind('submit', function (event) {
                event.preventDefault();
                element
                  .find('input, textarea, select')
                  .trigger('input')
                  .trigger('change')
                  .trigger('keydown');
                scope.$apply(attrs.ngSubmit);
              });
          });
        }
      };
    });
    </script>
    <iframe src="sink.html" name="sink"
            style="display:none"></iframe>
    <form name="loginForm"
          action="sink.html" target="sink" method="post"
          ng-controller="LoginController"
          ng-submit="login(credentials)"
          novalidate form-autofill-fix>
      <label for="username">Username:</label>
      <input type="text" id="username"
             ng-model="credentials.username">
      <label for="password">Password:</label>
      <input type="password" id="password"
             ng-model="credentials.password">
      <button type="submit">Login</button>
    </form>
<div login-dialog ng-if="!isLoginPage"></div>
  </body>
</html>
