<div class="disease">
<ion-header-bar class="bar-stable">
<h1 class="title">Disease</h1>
<div class="buttons">
<button class="button button-stable button-clear">Close</button>
</div>
</ion-header-bar>
<ion-content padding="true" scroll="false" class="has-header">
<div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
<i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
</div>
<ion-list></ion-list>
<button class="button button-stable button-block">Distal Myopasy</button>
<h3>Medicine</h3>
<ion-list>
<ion-item>3←Medicine1</ion-item>
<ion-item>user photo</ion-item>
<ion-item>2←Medicine2</ion-item>
<ion-item class="user photo">userphoto</ion-item>
<ion-item>Item 2</ion-item>
<ion-item>Item 3</ion-item>
</ion-list>
</ion-content>
</div>