<ion-view view-title="Edit Diseases">
  <ion-nav-bar class="bar-positive" align-title="left">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-ios-arrow-back" ui-sref="app.profedit"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Disease</span>
        <input type="text" placeholder="Disease" ng-model="ctrl.disease"
               ng-change="ctrl.search()" />
      </label>
    </div>
    <div class="list list-inset">
      <div class="item" ng-repeat="item in ctrl.candidates">
        <button class="item button button-small ink"
                ng-click="ctrl.select(item)">{{ item.get("name") }}</button>
      </div>
      <div class="item" ng-if="ctrl.disease">
        <button class="item button button-small ink"
                ng-click="ctrl.create()">Create &quot;{{ ctrl.disease }}&quot;</button>
      </div>
    </div>
  </ion-content>
</ion-view>
