<ion-view view-title="設定">
  <ion-nav-bar class="bar-positive" align-title="left">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">ユーザーネーム</span>
        <input type="text" placeholder="Name" ng-model="ctrl.user.username" />
      </label>
      <label class="item item-input">
        <span class="input-label">Eメール</span>
        <input type="text" placeholder="Email Address" ng-model="ctrl.user.email" />
      </label>
      <button class="button button-block button-light" ui-sref="app.setting_password">パスワードの変更</button>
    </div>
    <button class="button button-block button-positive"
        data-ink-color="#9DEAFF" data-ink-opacity="1"
        ng-click="ctrl.update()">
        更新する
    </button>
    <button class="button button-small button-block button-clear button-assertive" ui-sref="app.broke_account">アカウントの削除</button>
  </ion-content>
</ion-view>
