<ion-view view-title="Password Setting">
  <ion-nav-bar class="bar-positive" align-title="left">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-ios-arrow-back" ui-sref="app.setting"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Current Password</span>
        <input type="text" placeholder="Current Password" ng-model="password.current" />
      </label>
      <label class="item item-input">
        <span class="input-label">New Password</span>
        <input type="text" placeholder="New Password" ng-model="password.new" />
      </label>
      <label class="item item-input">
        <span class="input-label">New Password</span>
        <input type="text" placeholder="New Password" ng-model="password.re" />
      </label>
    </div>
    <button class="button button-block button-calm ink"
        data-ink-color="#9DEAFF" data-ink-opacity="1"
        ng-click="ctrl.update()">
        Submit
    </button>
  </ion-content>
</ion-view>
