<ion-view title="First Activity">
  	<ion-nav-bar class="bar-positive" align-title="left">
    	<ion-nav-buttons side="left">
    	</ion-nav-buttons>
  	</ion-nav-bar>

  	<ion-content>
        <div class="message-item first">
            <img class="profile-pic left first" src="img/girl_navigation.jpg">
            <div class="chat-bubble left first">
                <div class="message ng-binding" autolinker>First please tell us your interest<br> disease.That why you can<br> connect its people.</div>               
            </div>
        </div>
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Disease</span>
            <input type="text" placeholder="Disease name" ng-model="ctrl.searchWord"
                   ng-change="ctrl.search()" />
          </label>
        </div>
        <div class="list">
          <div class="item item-input-inset" ng-repeat="disease in ctrl.diseases" ng-if="ctrl.diseases.length">
            <div class="col col-75">{{ disease.get("name") }}</div>
            <div class="col">
              <a class="follow-button" ng-click="!ctrl.toggleSearch(disease)">
                <button class="button button-right button-positive" ng-class="button-positive" ng-show="!ctrl.isSelectDisease(disease)">
                  Follow
                </button>
                <button class="button button-right button-assertive" ng-class="button-positive" ng-show="ctrl.isSelectDisease(disease)">
                  Unfollow
                </button>
              </a>
            </div>
          </div>
          <div class="item item-input-inset" ng-hide="ctrl.diseases.length > 0">
            <div class="col col-75">
              {{ctrl.searchWord}}
            </div>
            <div class="col">
              <button class="button button-right button-positive"
                      ng-click="ctrl.create()" >Create</button>
            </div>
          </div>
        </div>
        <div class="message-item first">
            <img class="profile-pic right first" src="img/girl_navigation.jpg">
            <div class="chat-bubble right first">
                <div class="message ng-binding" autolinker>First please tell us your interest<br> disease.That why you can<br> connect its people.</div>               
            </div>
        </div>
        <form ng-submit="ctrl.post(entry)" novalidate>
            <ion-footer-bar class="bar-stable item-input-inset message-footer bar-footer-first" keyboad-attach>
              <label class="item-input-wrapper-first">
                  <textarea ng-model="ctrl.entry.content" value="" placeholder="Send {{ toUser.username }} a message..." required minlength="1" maxlength="300" msd-elastic></textarea>
              </label>
              <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                    ng-disabled="!ctrl.entry.content || ctrl.entry.content === ''">
                </button>
              </div>
            </ion-footer-bar>
        </form>
	</ion-content>
</ion-view>
