<ion-view title="Login">
    <ion-content padding="true" class="has-header">
    <form>
        <div class="spacer" style="height: 40px;"></div>
        <ion-list>
            <label class="item item-input">
            <input type="text" placeholder="Mail address">
            </label>
            <label class="item item-input">
            <input type="password" placeholder="Password">
            </label>
            <button class="button button-block button-light" ng-click="mailLogin()">Login with Mail</button>
        </ion-list>
        <button class="button button-block button-positive" ng-click="fbLogin()">
        Login with Facebook</button>
        <a href="#/signup" class="button button-positive button-clear button-block">Or create an account</a>
    </form>
    </ion-content>
</ion-view>
