<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Dr.near</title>

    <style>
    .angular-google-map-container {
      width: 100%;
      height: 504px;
  }
  </style>
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="/css/frostedGlass.css" rel="stylesheet">
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="js/app.js"></script>
  <script src="https://www.parsecdn.com/js/parse-1.3.2.min.js"></script>
</head>
<body ng-app="Myapp" animation="slide-left-right-ios7">
  <div>
    <div>
        <ion-nav-view>
        </ion-nav-view>
        <div class="bar bar-header">
        <button class="button button-icon icon ion-navicon"></button>
          <div class="h1 title">
          <img src="../images/logo.jpg" alt="logo">
          </div>
        </div>
    </div>
  </div>

<script id="login1.html" type="text/ng-template">
<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <form>
            <div class="spacer" style="height: 100px;"></div>
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="Mail address">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a href="#/home" button class="button button-stable button-block">Log in</button>
            <a href="#/signup" class="button button-positive button-clear button-block">Or create an account</a>
        </form>
    </ion-content>
</ion-view></script>

<script id="signup1.html" type="text/ng-template">
<ion-view title="Signup">
    <ion-content padding="true" scroll="false" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Mail address</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button class="button button-stable button-block">Sign up</button>
        </form>
    </ion-content>
</ion-view></script>

<script id="messages1.html" type="text/ng-template">
<ion-view title="Messages">
<ion-nav-bar class="bar-positive">
</ion-nav-bar>
    <ion-content padding="true" scroll="false" class="has-header">
         <span>Login : {{ loginUser.get('name') }}</span>
        <div class="messageslist">
            <div class="list">
                  <a ng-repeat="msg in messages"
                     ng-click="detail( msg )"
                     class="item item-thumbnail-left">
                     <img ng-src="{{ item.image }}">
                    <h2> {{ msg.type == 'sent' ? msg.object.get('to').get('name') : msg.object.get('from').get('name') }}</h2>
                    <h4>{{ msg.object.get('content') }}</h4>
                  </a>
                </div>
                </ion-list>
        </div>
        </div>
    </ion-content>
</ion-view>
</script>
<script id="amessage1.html" type="text/ng-template">
<ion-view title="Amessage">
<ion-nav-bar class="bar-positive">
</ion-nav-bar>
    <ion-content padding="true" scroll="false" class="has-header">
             <a ng-repeat="msg in messages">
                {{ msg.object.get('from').get('name') }}
                &gt;
                {{ msg.object.get('to').get('name') }}
                :
                {{ msg.object.get('content') }}
            </a>
        </div>
      <ion-footer-bar class="bar-frosted">
        <button class="button button-clear button-positive" ng-click="add()">Add Message</button>
      </ion-footer-bar>
        </ion-pane>
    <ion-content>
</ion-view>
</script>

<script id="disease1.html" type="text/ng-template">
<div class="disease">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Disease</h1>
        <div class="buttons">
            <button class="button button-stable button-clear">Close</button>
        </div>
    </ion-header-bar>
    <ion-content padding="true" scroll="false" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <ion-list></ion-list>
        <button class="button button-stable button-block">Distal Myopasy</button>
        <h3>Medicine</h3>
        <ion-list>
            <ion-item>3←Medicine1</ion-item>
            <ion-item>user photo</ion-item>
            <ion-item>2←Medicine2</ion-item>
            <ion-item class="user photo">userphoto</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content>
</div></script>

<script id="medicine1.html" type="text/ng-template">
<div ng-controller="MedicineController">
<div class="medicine">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Medicine</h1>
        <div class="buttons">
            <button class="button button-stable button-clear">Close</button>
        </div>
    </ion-header-bar>
    <ion-content padding="true" scroll="false" class="has-header">
        <ion-list></ion-list>
        <button class="button button-stable button-block">Grivec</button>
        <h3>Same disease</h3>
        <ion-list>
            <ion-item><b>Company nameーmedicine name</b></ion-item>
            <ion-item><p ng-repeat="medicine in medicines">{{medicine.company}}　ー　{{medicine.medicine}}</p>
            </ion-item>
            <ion-item>Sawai seiyaku - Imanitib sawai</ion-item>
        </ion-list>
    </ion-content>
</div></div></script>

<script id="page16.html" type="text/ng-template">
<ion-view title="Plus 1">
<ion-content padding="true" class="has-header">
<button class="button button-stable button-block">+add disease</button>
<button class="button button-stable button-block">+add medicine</button>
<button class="button button-stable button-block">+add condition</button>
</ion-content>
</ion-view></script>

<script id="home.html" type="text/ng-template">
  <ion-view title="Dr.near">
    <ion-tabs class="tabs-stable tabs-icon-top">
      <div ng-controller="MainController">
      <ion-tab title="Home" icon="ion-home">
        <ion-content padding="true" class="has-header">
          <ion-list>
            <ion-item class="item-thumbnail-left">
            <img src="/images/avatar-img.png">
            <div align="right">
              <button class="button button-clear button-positive icon ion-gear-b"></button>
              </div>
            <h2 ng-repeat="user in users">{{user.name}}</h2>
            <p ng-repeat="user in users">{{user.position}}</p>
            <h3 ng-repeat="user in users">{{user.diseases}}</h3>
            <h3 ng-repeat="user in users">{{user.medicine}}</h3>
            </ion-item>
          </ion-list>

          <div class="button-bar">
            <a href="#/messages" button class="button button-light ">Message</button></a>
          </div>
          <div class="spacer" style="width: 300px; height: 41px;"></div>

            <div class="timeline card">
            <div ng-repeat ="timeline in timelines">
              <div class="item item-divider">{{timeline.title}} was updated.</div>
              <div class="item item-body">{{timeline.comment}}</div>
              <div class="item item-avatar">
                <div align="right">
                </div>
              </div>
            </div>
            </div>
        <div class="list card">
                <div class="item item-divider">Timeline2</div>
                <div class="item item-body">
                  <div>
                  <p>
                  <strong>checked diseasechecked diseasechecked diseasechecked diseasechecked disease</strong>
                  </p>
                  </div>
                </div>
              <div class="item item-divider">update photo(user or staff)2</div>
            </div>
          </ion-content>
        </ion-tab>

          <ion-tab title="Search" icon="ion-search">
          <ion-content padding="true" class="has-header">
            
                          <div>
                <div class="bar bar-header item-input-inset">
                  <label class="item-input-wrapper">
                  <i class="icon ion-ios7-search placeholder-icon"></i>
                  <input type="search" ng-model="keyword" placeholder="Please put it disease or medicine name">
                  </label>
                  <button class="button button-clear">
                  Cancel
                  </button>
                </div>
              </div>
          //　users・medicineを出力
              <div class="list card"> 
                <div class="item item-body">
                  <div class="button button-stable button-block" ng-repeat = "disease in diseases | filter:keyword" >
                  <ion-list>
                  <h2>{{ disease.name }}<button class="button icon-left ion-star button-positive"></button></h2>
                    <div ng-repeat = "medicine in disease.medicines">
                    <ion-item class="medicine"><h3>{{ medicine.name}}</h3></ion-item>
                      <span ng-repeat="user in medicine.users">{{user.name}}
                      </span>
                    </div>
                  </div>
                  </ion-list>
                </div>
              </div>
            
          </ion-content>
          </ion-tab>

<ion-tab title="alert" icon="ion-ios7-bell">
<ion-content padding="true" class="has-header">
<ion-list>
<ion-item>usernameからメッセージを受け取りました</ion-item>
<ion-item>興味のある病気に新しい処方箋が追加されました</ion-item>
<ion-item>病気にコンディション(副作用,状態)が追加されました</ion-item>
<ion-item>病気に()</ion-item>
<ion-item>Item 2</ion-item>
<ion-item>Item 3</ion-item>
</ion-list>
</ion-content>
</ion-tab>

</div>
</ion-tabs>
</ion-view></script>
</body>
</html>



