<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Dr.near</title>

    <style>
    .angular-google-map-container {
      width: 100%;
      height: 504px;
  }
  </style>
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="/css/frostedGlass.css" rel="stylesheet">
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="js/app.js"></script>
  <script src="https://www.parsecdn.com/js/parse-1.3.2.min.js"></script>
<script>
var module = angular.module( 'Myapp', ['ionic'] );
module.run( function(){
    Parse.initialize("9gKD3uVKGnAYKcQqFMpTjSqRFkYgnzZWrK9XRBic", "sNgRKL57Gc2BI1resCzLQjM0mpymjq663Xu93o1e");
    var UserObject = Parse.Object.extend( 'User2' );

    var user0 = new UserObject();
    user0.set( 'name', 'user0' );
    user0.save();

    var user1 = new UserObject();
    user1.set( 'name', 'user1' );
    user1.save();

    var user2 = new UserObject();
    user2.set( 'name', 'user2' );
    user2.save();

    var user3 = new UserObject();
    user3.set( 'name', 'user3' );
    user3.save();

    var user4 = new UserObject();
    user4.set( 'name', 'user4' );
    user4.save();

    var MessageObject = Parse.Object.extend( 'Message2' );
    var message0 = new MessageObject();
    message0.save({
      'from': user0,
      'to': user1,
      'content':"I'm gonna be there."
    })
    var message4 = new MessageObject();
    message4.save({
      'from': user0,
      'to': user1,
      'content':"I'm gonna be my love."
    })
    var message1 = new MessageObject();
    message1.save({
      'from': user4,
      'to': user0,
      'content':'I love the healthy food.'
    })
    var message2 = new MessageObject();
    message2.save({
      'from': user3,
      'to': user0,
      'content':'I love myself.'
    })
    var message3 = new MessageObject();
    message3.save({
      'from': user0,
      'to': user2,
      'content':'Hey,Jack'
    })
    var message = new MessageObject();
    message3.save({
      'from': user0,
      'to': user2,
      'content':'Hey,Jack'
    })
});
module.run(function($ionicPlatform) {
    $ionicPlatform.ready(function() {
    // Hide the accessory bar by default (remove this to show the accessory bar above the keyboard
    // for form inputs)
    if(window.cordova && window.cordova.plugins.Keyboard) {
      cordova.plugins.Keyboard.hideKeyboardAccessoryBar(true);
    }
    if(window.StatusBar) {
      // org.apache.cordova.statusbar required
      StatusBar.styleDefault();
    }
    });
    })
module.config(function($stateProvider, $urlRouterProvider) {
        $stateProvider
           .state('login1', {
              url: '/login',
              templateUrl: 'login1.html'
            })
          .state('signup1', {
              url: '/signup',
              templateUrl: 'signup1.html'
            })
          .state('messages1', {
              url: '/messages',
              templateUrl: 'messages1.html'
            })
          .state('amessage1', {
            url: '/amessage/:uid',
            templateUrl: 'amessage1.html'
          })
          .state('disease1', {
              url: '/disease',
              templateUrl: 'disease1.html'
            })
         .state('medicine1', {
              url: '/medicine',
              templateUrl: 'medicine1.html'
            })
          .state('page16', {
              url: '/page16',
              templateUrl: 'page16.html'
          })
          .state('home', {
              url: '/home',
              templateUrl: 'home.html'
          });
        // if none of the above states are matched, use this as the fallback
        $urlRouterProvider.otherwise('/home');
      })
module.factory( 'LoginUser', function() {
        // ログインユーザーは仮に「最初のユーザー」とする
        var UserObject = Parse.Object.extend( 'User2' );
        var query = new Parse.Query( UserObject );
        query.limit(1);
        query.ascending( 'createdAt' );
        return query.first().then( function( result ) { return result.fetch();  } );
      })
module.controller( 'MainController', ['$scope',
        function($scope){
            $scope.users = [
            { 
              name : "Nakagawa Shintaro", 
              position : "patient",
              diseases : "Hand-Schuller-Christain", 
              medicine :"Grivec"},
            ];
            $scope.timelines = [
            { 
              title: "medicine", 
              comment:"I'm not much better,and there is a little hope of recovery",
              userphoto :"user photo"}
            ];
            
            $scope.diseases = [ 
            { 
              name: 'Distal Myopathy', 
              medicines: [ 
                { name: 'medicine1', 
                  users: [ 
                    { name: 'userA' }, 
                    { name: 'userB' }, 
                    { name: 'userC'} 
                  ] 
                },
                { name: 'medicine2', 
                  users: [ 
                    { name: 'userD' }, 
                    { name: 'userE' } 
                  ] 
                },
                { name: 'medicine3', 
                  users: [ { name: 'userF' } 
                  ] 
                },
                { name: 'medicine4',
                  users: [ { name: 'userG' } 
                  ] 
                },
                { name: 'medicine5', 
                  users: [ { name: 'userH' } 
                  ] 
                } 
              ] 
            },

            { 
              name: 'Hand-Schuller-Christain disease', 
              medicines: [ 
                { name: 'medicine6', 
                  users: [ 
                    { name: 'userI' } 
                  ] 
                } 
              ]  
            },

            { name: 'muscular dystrophy',
              medicines:[ 
                { name: 'medicine7', 
                  users: [ 
                    { name: 'userJ' }
                  ] 
                },
                { name: 'medicine8', 
                  users: [ { name: 'userK' } 
                  ] 
                },
                { name: 'medicine9', 
                  users: [ { name: 'userL' } 
                  ] 
                } 
              ] 
            },
           ];
        } ] )
module.controller( 'MessagesController', [ '$scope', '$location', 'LoginUser', function( $scope, $location, LoginUser ) {
        $scope.loginUser;
        $scope.messages  = [];

        LoginUser.then( function( user ) {
            $scope.loginUser = user;

            var MessageObject = Parse.Object.extend( 'Message2' );

            var queryFrom = new Parse.Query( MessageObject );
            queryFrom.equalTo( 'from', $scope.loginUser );
            var queryTo = new Parse.Query( MessageObject );
            queryTo.equalTo( 'to', $scope.loginUser );

            var query = Parse.Query.or( queryFrom, queryTo );
            query.limit( 50 );
            query.descending( 'createdAt' );
            query.include( 'from' ); // from を一緒に取り出す
            query.include( 'to' );   // to を一緒に取り出す
            query.find().then( function( results ) {
                $scope.$apply( function(){
                    var uniqueUsers = {};
                    for ( var i = 0; i < results.length; i++ ) {
                        var type = (results[i].get('from').id == $scope.loginUser.id) ? 'sent' : 'received';
                        var userMessageId = (type == 'sent') // 同じ相手との重複表示を避ける
                            ? results[i].get('from').id + ':' + results[i].get('to').id
                            : results[i].get('to').id + ':' + results[i].get('from').id;
                        if ( !uniqueUsers[userMessageId] || ( uniqueUsers[userMessageId] < results[i].createdAt ) ) {
                            uniqueUsers[userMessageId] = results[i].createdAt;
                            $scope.messages.push({
                                umid   : userMessageId,
                                object : angular.copy( results[i] ),
                                type   : type
                            });
                        }
                    }
                });
            });
        });
        $scope.detail = function( msg ) {
            var user = (msg.type == 'sent') ? msg.object.get('to') : msg.object.get('from');
            $location.path( '/amessage/' + user.id );
        };
    }])           
    module.controller('AmessageController', [ '$scope', '$location', '$routeParams', 'LoginUser', function( $scope, $location, $routeParams, LoginUser ) {
        $scope.loginUser;
        $scope.messages = [];

        LoginUser.then( function( user ) {
            $scope.loginUser  = user;

            var MessageObject = Parse.Object.extend( 'Message2' );
            var UserObject = Parse.Object.extend( 'User2' );

            var targetUser = new UserObject();
            targetUser.id = $routeParams.uid; // 特定のユーザーとのやりとりを検索

            var queryFrom = new Parse.Query( MessageObject );
            queryFrom.equalTo( 'from', $scope.loginUser );    // 自分から
            queryFrom.equalTo( 'to', targetUser );            // 特定ユーザー

            var queryTo = new Parse.Query( MessageObject );
            queryTo.equalTo( 'from', targetUser );            // 特定ユーザーから
            queryTo.equalTo( 'to', $scope.loginUser );        // 自分

            var query = Parse.Query.or( queryFrom, queryTo ); // のいずれか
            query.limit( 50 );
            query.descending( 'createdAt' );
            query.include( 'from' );
            query.include( 'to' );
            query.find().then( function( results ) {
                $scope.$apply( function(){
                    for ( var i = 0; i < results.length; i++ ) {
                        var type = (results[i].get('from').id == $scope.loginUser.id) ? 'sent' : 'received';
                        $scope.messages.push({
                            object : angular.copy( results[i] ),
                            type   : type,
                            user   : user
                        });
                        if ( !$scope.targetUser ) {
                            $scope.targetUser = (type == 'sent') ? results[i].get('to') : results[i].get('from');
                        }
                    }
                });
            });
        });

        $scope.back = function() {
            $location.path( '/' );
        };
    }]);
    module.controller( 'DiseaseController', ['$scope',
        function($scope){
            $scope.diseases = [
            { 
              name : "Distal Myopathy", 
              medicine : "MIDAZOLAM,",
              photo : "Userphoto", },
            ];
        } ] )
    module.controller( 'MedicineController', ['$scope',
        function($scope){
            $scope.medicines = [
            { 
              company : "Novartis Pharma", 
              medicine : "Glivec", },
            ];
        }])
</script>
</head>
<body ng-app="Myapp" animation="slide-left-right-ios7">
  <div>
    <div>
        <ion-nav-view>
        </ion-nav-view>
        <div class="bar bar-header">
        <button class="button button-icon icon ion-navicon"></button>
        <div class="h1 title">
        <img src="../images/logo.jpg" alt="logo">
        </div>
</div>
</div>
</div>

<script id="login1.html" type="text/ng-template">
<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <form>
            <div class="spacer" style="height: 100px;"></div>
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="Mail address">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a href="#/home" button class="button button-stable button-block">Log in</button>
            <a href="#/signup" class="button button-positive button-clear button-block">Or create an account</a>
        </form>
    </ion-content>
</ion-view></script>

<script id="signup1.html" type="text/ng-template">
<ion-view title="Signup">
    <ion-content padding="true" scroll="false" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Mail address</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button class="button button-stable button-block">Sign up</button>
        </form>
    </ion-content>
</ion-view></script>

<script id="messages1.html" type="text/ng-template">
    <div ng-controller="MessagesController">
    <div class="messageslist">
        <ion-header-bar class="bar-stable">
        <h1 class="title">{{ loginUser.get('name') }}Messages</h1>
            <div class="buttons">
            <button class="button button-stable button-clear">Close
            </button>
            </div>
        </ion-header-bar>

        <ion-content padding="true" scroll="true" class="has-header">
            <ion-list can-swipe="listCanSwipe">
                <ion-item class="item-thumbnail-left">
                <h1>Message List</h1>
                    <ul>
                        <li ng-repeat="msg in messages">
                            <div>
                            {{ msg.type == 'sent' ? msg.object.get('to').get('name') : msg.object.get('from').get('name') }}
                            {{ msg.object.get('content') }}
                            <button class="btn btn-xs btn-default" ng-click="detail( msg )">detail</button>
                            </div>
                        </li>
                    </ul>
                </ion-item>
            </ion-list>
        </ion-content>
    </div>
    </div>
</script>
<script id="amessage1.html" type="text/ng-template">
        <ion-pane ng-controller="AmessageController">
            <ion-header-bar frosted-bar class="bar-frosted">
            <h1 class="title">Blurred!</h1>
            </ion-header-bar>
        <ion-content class="padding" start-y="120">
            <ol class="amessage">
              <li ng-repeat="msg in messages" ng-bind-html="message.content"></li>
            </ol>
        </ion-content>
      <ion-footer-bar class="bar-frosted">
        <button class="button button-clear button-positive" ng-click="add()">Add Message</button>
      </ion-footer-bar>
        </ion-pane>
</script>

<script id="disease1.html" type="text/ng-template">
<div class="disease">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Disease</h1>
        <div class="buttons">
            <button class="button button-stable button-clear">Close</button>
        </div>
    </ion-header-bar>
    <ion-content padding="true" scroll="false" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <ion-list></ion-list>
        <button class="button button-stable button-block">Distal Myopasy</button>
        <h3>Medicine</h3>
        <ion-list>
            <ion-item>3←Medicine1</ion-item>
            <ion-item>user photo</ion-item>
            <ion-item>2←Medicine2</ion-item>
            <ion-item class="user photo">userphoto</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content>
</div></script>

<script id="medicine1.html" type="text/ng-template">
<div ng-controller="MedicineController">
<div class="medicine">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Medicine</h1>
        <div class="buttons">
            <button class="button button-stable button-clear">Close</button>
        </div>
    </ion-header-bar>
    <ion-content padding="true" scroll="false" class="has-header">
        <ion-list></ion-list>
        <button class="button button-stable button-block">Grivec</button>
        <h3>Same disease</h3>
        <ion-list>
            <ion-item><b>Company nameーmedicine name</b></ion-item>
            <ion-item><p ng-repeat="medicine in medicines">{{medicine.company}}　ー　{{medicine.medicine}}</p>
            </ion-item>
            <ion-item>Sawai seiyaku - Imanitib sawai</ion-item>
        </ion-list>
    </ion-content>
</div></div></script>

<script id="page16.html" type="text/ng-template">
<ion-view title="Plus 1">
<ion-content padding="true" class="has-header">
<button class="button button-stable button-block">+add disease</button>
<button class="button button-stable button-block">+add medicine</button>
<button class="button button-stable button-block">+add condition</button>
</ion-content>
</ion-view></script>

<script id="home.html" type="text/ng-template">
  <ion-view title="Dr.near">
    <ion-tabs class="tabs-stable tabs-icon-top">
      <div ng-controller="MainController">
      <ion-tab title="Home" icon="ion-home">
        <ion-content padding="true" class="has-header">
          <ion-list>
            <ion-item class="item-thumbnail-left">
            <img src="/images/avatar-img.png">
            <div align="right">
              <button class="button button-clear button-positive icon ion-gear-b"></button>
              </div>
            <h2 ng-repeat="user in users">{{user.name}}</h2>
            <p ng-repeat="user in users">{{user.position}}</p>
            <h3 ng-repeat="user in users">{{user.diseases}}</h3>
            <h3 ng-repeat="user in users">{{user.medicine}}</h3>
            </ion-item>
          </ion-list>

          <div class="button-bar">
            <a href="#/messages" button class="button button-light ">Message</button></a>
          </div>
          <div class="spacer" style="width: 300px; height: 41px;"></div>

            <div class="timeline card">
            <div ng-repeat ="timeline in timelines">
              <div class="item item-divider">{{timeline.title}} was updated.</div>
              <div class="item item-body">{{timeline.comment}}</div>
              <div class="item item-avatar">
                <div align="right">
                </div>
              </div>
            </div>
            </div>
        <div class="list card">
                <div class="item item-divider">Timeline2</div>
                <div class="item item-body">
                  <div>
                  <p>
                  <strong>checked diseasechecked diseasechecked diseasechecked diseasechecked disease</strong>
                  </p>
                  </div>
                </div>
              <div class="item item-divider">update photo(user or staff)2</div>
            </div>
          </ion-content>
        </ion-tab>

          <ion-tab title="Search" icon="ion-search">
          <ion-content padding="true" class="has-header">
            
                          <div>
                <div class="bar bar-header item-input-inset">
                  <label class="item-input-wrapper">
                  <i class="icon ion-ios7-search placeholder-icon"></i>
                  <input type="search" ng-model="keyword" placeholder="Please put it disease or medicine name">
                  </label>
                  <button class="button button-clear">
                  Cancel
                  </button>
                </div>
              </div>
          //　users・medicineを出力
              <div class="list card"> 
                <div class="item item-body">
                  <div class="button button-stable button-block" ng-repeat = "disease in diseases | filter:keyword" >
                  <ion-list>
                  <h2>{{ disease.name }}<button class="button icon-left ion-star button-positive"></button></h2>
                    <div ng-repeat = "medicine in disease.medicines">
                    <ion-item class="medicine"><h3>{{ medicine.name}}</h3></ion-item>
                      <span ng-repeat="user in medicine.users">{{user.name}}
                      </span>
                    </div>
                  </div>
                  </ion-list>
                </div>
              </div>
            
          </ion-content>
          </ion-tab>

<ion-tab title="alert" icon="ion-ios7-bell">
<ion-content padding="true" class="has-header">
<ion-list>
<ion-item>usernameからメッセージを受け取りました</ion-item>
<ion-item>興味のある病気に新しい処方箋が追加されました</ion-item>
<ion-item>病気にコンディション(副作用,状態)が追加されました</ion-item>
<ion-item>病気に()</ion-item>
<ion-item>Item 2</ion-item>
<ion-item>Item 3</ion-item>
</ion-list>
</ion-content>
</ion-tab>

</div>
</ion-tabs>
</ion-view></script>
</body>
</html>



